<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
  {{> common/header }}
  <section class="container mx-auto">
    <div class="tabular-data">
      <p>Showing blocks</p>
      <table>
        <tr>
          <th>Epoch</th>
          <th>Slot</th>
          <th>Time</th>
          <th>Proposer</th>
          <th>Attestations</th>
        </tr>
        {{#each blocks}}
        <tr>
          <td><a href="/epoch/{{epoch}}">{{epoch}}</a></td>
          <td><a href="/block/{{slot}}">{{slot}}</a></td>
          <td>{{ago}}</td>
          <td>{{proposer}}</td>
          <td>{{attestations_count}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </section>
</body>

</html>