<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
  <header>
    {{> common/nav }}
  </header>
  <section class="container mx-auto">
    {{#with block}}
    <h2>Block {{slot}}</h2>
    <div class="tabular-data">
      <p>Showing block</p>

      <dl>
        <dt>Epoch</dt>
        <dd><a href="/epoch/{{epoch}}">{{epoch}}</a></dd>
        <dt>Slot</dt>
        <dd>{{slot}}</dd>
        <dt>Time</dt>
        <dd>{{time}} ({{ago}})</dd>
        <dt>Proposer</dt>
        <dd>{{proposer}}</dd>
        <dt>Attestations</dt>
        <dd>{{attestations_count}}</dd>
      </dl>
    </div>
    {{/with}}
  </section>
</body>

</html>