<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
  <header>
    {{> common/nav }}
  </header>
  <section class="container mx-auto">
    {{#with epoch}}
    <h2>Epoch {{epoch}}</h2>
    <div class="tabular-data">
      <p>Showing epoch</p>

      <dl>
        <dt>Epoch</dt>
        <dd>{{epoch}}</dd>
        <dt>Finalized</dt>
        <dd>
          {{#if finalized}}
          <span>Yes</span>
          {{else}}
          <span>No</span>
          {{/if}}
        </dd>
        <dt>Time</dt>
        <dd>{{timestamp}}</dd>
        <dt>Attestations</dt>
        <dd>{{attestations_count}}</dd>
        <dt>Deposits</dt>
        <dd>{{deposits_count}}</dd>
        <dt>Slashings P / A</dt>
        <dd>{{proposer_slashings_count}} / {{attester_slashings_count}}</dd>
        <dt>Voting Participation</dt>
        <dd>{{eligible_ether}} ETH of {{voted_ether}} ETH ({{global_participation_percentage}}%)</dd>
      </dl>
    </div>
    {{/with}}
  </section>
</body>

</html>